.container{
	background-color: rgba(175,175,175,0.64);
	width: 100%;
	height: 250px;
	border: 1px solid rgba(63,63,61,0.64);
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 10px 1px;
}
/*ul*/
.inner-block{
	display: flex;
	flex-direction: column;
	row-gap: 5px;

	overflow-y: auto;
	scrollbar-width: none;
	/*cursor: all-scroll;*/

	width: 100%;
	height: 100%;

	border: 1px solid rgba(63,63,61,0.64);
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;


}
.inner-block::-webkit-scrollbar {
	display: none;
}